.about {
    background-color: beige;
    min-height: 50vh;
    scroll-margin-top: 6vh;
}
/**************************
    touch screen devices
***************************/
@media screen and (max-width:1060px) {
    .about {
        scroll-margin-top: unset;
        scroll-padding-top: 6vh;
    }
}
