.contact {
    background-color: beige;
    min-height: 70vh;
    box-shadow: 0 20px 15px -18px #666666;
    padding-top: 6vh;
    margin-top: -6vh;
}
/**************************
    touch screen devices
***************************/
@media screen and (max-width:1060px) {
}