.footer {
    /* background-color: rgba(226, 226, 226, 0.5) !important; */
    /* background-color: #d9dfff;
    background-image: linear-gradient(0deg, #d9dfff 0%, #ffeef9 100%); */




}
.footer .container {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container a {
    color: #5f565e;
    font-size: 30px;
}