.footer {
    background-color: rgba(226, 226, 226, 0.5) !important;
}
.footer .container {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container a {
    color: #5f565e;
    font-size: 30px;
}