.footer {
    min-height: 10vh;
    padding-top: 1%;
    background-color: rgba(245, 245, 220, 0.5);
}
.footer .container {
    display: flex;
    justify-content: center;
}
.footer a {
    color: #5f565e;
    font-size: 30px;
}