* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
html {
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
.title {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-style: italic;
    padding: 1rem 0 1rem 0;
}
.text-container {
    text-align: center;
    align-self: center;
    padding: 1rem 0;
}
.down {
    padding: 0 0 2.5vh 0;
    min-height: 3vh;
    text-align: center;
}
.down i {
    font-size: 1.5rem;
    color: black;
}