.menu {
  padding-top: 6vh;
  margin-top: -6vh;
}
.menu-container {
  text-align: center;
}
.items-list {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.items-list li {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.item .name:nth-child(1) {
  padding-left: unset;
}
.text {
  display: inline-grid;
  align-items: center;
  justify-self: center;
  width: fit-content;
}
.ingredients {
  padding: 3%;
}
.name {
  font-size: 1.5rem;
  font-weight: bold;
}
.name h5 {
  text-transform: uppercase;
}
.photo-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  height: fit-content;
  align-self: center;
}
.photo-container::after {
  content: '';
  display: block;
  padding-top: 100%;
}
.img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  justify-self: center;
}
.menu .down {
  padding: 1vh 0 3vh 0;
}
/**************************
    touch screen devices
***************************/
@media screen and (max-width: 1060px) {
  .items-list {
    display: unset;
  }
  .items-list li {
    grid-template-columns: 1fr 2fr;
  }
}
