.menu {
    background-color: #deffe2;
    background-image: linear-gradient(90deg, #deffe2 25%, #b5f0ff 100%);
    padding-top: 6vh;
    margin-top: -6vh;
}
.menu-container {
    text-align: center;
}
.items-list {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.items-list li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
    margin-bottom: 0.5rem;
}
.item .name:nth-child(1) {
    padding-left: unset;
}
.text {
    display: inline-flex;
    align-items: center;
    justify-self: center;
    width: fit-content;
}
.text p:before, .text span:before {
    content: "\2014";
    margin: 0 10px;
}
.name {
    font-size: 1.5rem;
    font-weight: bold;
}
.item img {
    height: fit-content;
    max-height: 20vh;
    justify-self: center;
}
/**************************
    touch screen devices
***************************/
@media screen and (max-width:1250px) {
    .text {
        display: inline-grid;
    }
    .text p:before, .text span:before {
        content: unset;
        margin: unset;
    }
}
@media screen and (max-width:1060px) {
    .items-list {
        display: unset;
    }
    .items-list li {
        grid-template-columns: 1fr 2fr;
    }
    .text {
        display: inline-flex;
        align-items: center;
    }
    .text p:before, .text span:before {
        content: "\2014";
        margin: 0 10px;
    }
}
@media screen and (max-width:750px) {
    .text p:before, .text span:before {
        content: unset;
        margin: unset;
    }
    .item img {
        height: 20vh;
        display: block;
        float: left;
    }
    .text {
        display: inline-grid;
    }
}