.photos {
    background-color: beige;
    text-align: -webkit-center;
    padding-top: 6vh;
    margin-top: -6vh;
}
.slideshow {
    padding-top: 9vh;
    margin: 0 3%;
}
.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.slider-container::after {
    content: '';
    padding-top: 100%;
}
.slide {
    position: absolute;
    width: 75%;
    opacity: 0;
}
.active {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    animation: trans 5s ease-in-out;
    background:rgba(254, 255, 204, 1) !important;
}
.image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.navigation-container {
    position: relative;
    transform: translateY(-175%)
}
.navigation-container::after {
    content: '';
    padding-top: 100%;
}
.navigation-container .navigation {
    z-index: 1;
    display: flex;
    justify-content: center;
}
.navigation-container .navigation .button {
    z-index: 2;
    background: rgb(165 162 138 / 15%);
    border: solid 1px rgb(254, 255, 204);
    width: 18px;
    height: 18px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.navigation-container .navigation .button:hover {
    background: rgb(254, 255, 204);
    transition: background 0.25s ease-in-out;
}
/**************************
    touch screen devices
***************************/
@media screen and (max-width:1060px) {
    .slide {
        width: 100%;
    }
    .navigation-container .navigation .button {
        width: 13px;
        height: 13px;
    }
}
/********************* 
    for javascript 
**********************/
@keyframes trans {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    10% {
        opacity: 1;
        transform: translateX(0%);
    }
    90% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}