.photos {
    background-color: beige;
    text-align: -webkit-center;
    scroll-margin-top: 6vh;
}
.slideshow {
    padding-top: 9vh;
    margin: 0 3%;
}
.slider-container {
    position: relative;
}
.slider-container::after {
    content: '';
    padding-top: 100%;
}
.slide {
    width: 75%;
}
.image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.navigation-container {
    position: relative;
    transform: translateY(-175%)
}
.navigation-container::after {
    content: '';
    padding-top: 100%;
}
.navigation-container .navigation {
    z-index: 1;
    display: flex;
    justify-content: center;
}
.navigation-container .navigation .button {
    z-index: 2;
    background: rgb(255, 255, 255);
    border: solid 1px rgba(150, 150, 150, 0.5);
    width: 15px;
    height: 15px;
    margin-top: auto;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
/**************************
    touch screen devices
***************************/
@media screen and (max-width:1060px) {
    .slide {
        width: 100%;
    }
}