.photos {
    background-color: beige;
    text-align: -webkit-center;
    padding-top: 6vh;
    margin-top: -6vh;
}
.slideshow {
    padding-top: 9vh;
    margin: 0 3%;
}
.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.slider-container::after {
    content: '';
    padding-top: 100%;
}
.slide {
    position: absolute;
    width: 75%;
    opacity: 0;
    /* clip-path: circle(10% at 50% 50%); */
}
.active {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    /* clip-path: circle(150% at 50% 50%); */
    /* transition: clip-path 0.5s ease-in; */
}
.image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.navigation-container {
    position: relative;
    transform: translateY(-175%)
}
.navigation-container::after {
    content: '';
    padding-top: 100%;
}
.navigation-container .navigation {
    z-index: 1;
    display: flex;
    justify-content: center;
}
.navigation-container .navigation .button {
    z-index: 2;
    border: solid 2px rgb(254, 255, 204);
    width: 18px;
    height: 18px;
    margin-top: auto;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.navigation-container .navigation .button:hover {
    background: rgb(254, 255, 204);
    transition: background 0.25s ease-in-out;
}
/**************************
    touch screen devices
***************************/
@media screen and (max-width:1060px) {
    .slide {
        width: 100%;
    }
    .navigation-container .navigation .button {
        background: rgb(254, 255, 204);
        width: 13px;
        height: 13px;
    }
}